*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;

}
html {
    scroll-behavior: smooth;
  }
body{
    background-color:black;
  
  
}
p{
  font-family: "Bungee Hairline", sans-serif;

}

.homebody{
    min-height:1000px;
    
}
section
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient( orange 20% ,darkviolet 100% );
    background-image:url("./assets/nebula.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(0px at center center);
}
.bg-main{
    height:100vh;
    width:150vw;
    position:fixed;
    z-index:-88899;
    background-image:url("./assets/galaxy.jpg");
    background-size:cover;
  
}


/* KIDLAT */
.kidlatBox{
    width:100vw;
    display:flex;
    justify-content:center;
}
.kidlatBox img
{
    position:absolute ;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:10;
   
}
.kidlatBox img:not(:first-child)
{
    animation: kidlat 2s linear infinite;
    animation-delay: calc(-0.8s * var(--i));
    opacity: 0.17;
}
@keyframes kidlat
{
   0% 
    {
        rotate:5deg;
    }
   
    100%
    {
       display:none;
    } 
} 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .kidlatBox img{
        height:300px;
        width:300px;
        top:2em;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .kidlatBox img{
        height:222px;
        width:222px;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .kidlatBox img{
        height:444px;
        width:444px;
        
    } 
  } 
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .kidlatBox img{
        height:555px;
        width:555px;
        top:-3em;
    } 
  } 
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .kidlatBox img{
        height:555px;
        width:555px;
        top:-3em;
    } 
  }


/* INVOKER */
.invoker-kid
{
    width:100vw;
    display:flex;
    justify-content:center;
    position:fixed;
    z-index:-999;
    animation: floating 2s ease-in-out infinite;
    animation: bouncing 2.5s ease-in-out infinite; 
  
}
.invoker-kid img
{
    height:25em;
    width:15em;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .invoker-kid{
        margin-top:10em;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .invoker-kid{
        margin-top:10em;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .invoker-kid{
        margin-top:20em;
    } 
  } 
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .invoker-kid{
        margin-top:5em;
      
    } 
    .invoker-kid img{
        height:60em;
        width:35em;
    }
  } 
  /* Extra large devices (large laptops and desktops, 1200px and up)
  @media only screen and (min-width: 1200px) {
    .invoker-kid{
        margin-top:20em;
    } 
  } */

  /* MUSIC */
  #volume-control {
    background: none; /* Remove default button styling */
    border: none;
    padding: 5px; /* Adjust padding as desired */
    cursor: pointer; /* Indicate clickable behavior */
    color: inherit; /* Inherit color from parent */
  }
  
  #volume-control i {
    font-size: 18px; /* Adjust icon size as desired */
  }

  /* INVOKER TECH STACK */
  
.invoker{
    width:100vw;
    display:flex;
    justify-content:center;
    index:-1; position:absolute;
    top:35%;
    animation: floating 2s ease-in-out infinite;
    animation: bouncing 2.5s ease-in-out infinite;
  }
  
  @keyframes floating {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes bouncing {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, -20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .invoker img{
    
  }

} 
  
.containerStack .icon{
    position: relative;
    left: -50%;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.containerStack .icon .imgBx{
    position: absolute;
    width: 75px;
    height: 75px;
    /* border-radius: 50%; */
    transition: 0.5s;
    /* border:1px solid #fff; */
   /* box-shadow: 0 0 0 4px #222,
   0 0 0 6px #fff; */
   transform: rotate(calc(360deg/8 * var(--i)));
   transform-origin: 500px;
   z-index: 150;
   overflow: visible;
 
}
.containerStack .icon .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    object-fit:cover;
    transform: rotate(calc(-360deg/8 * var(--i)));
}

@keyframes rotateContainer {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .containerStack {
    top:-20em;
    position: relative;
    width:1000px;
    height: 1000px;
    /* border: 2px solid #fff; */
    border-radius: 50%;
    animation: rotateContainer 40s linear infinite;
  }


  /* main buttons */
  
/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color:    white;
  background: #111;
 text-shadow: 0px px 5px  #48ff00 ;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000033;
  left: 0;
  top: 0;
  border-radius: 10px;
}


/* CSS */
.button-47 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; 
}

.button-47:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.button-47:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #444;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* TAG LINE*/
#tagline
{
  color:lightgray;
  font-family: "Bungee Hairline", sans-serif;  font-weight:700;
  font-style: normal;
  animation: fadeIn 4s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
#tagbodyline
{
  font-family: "Bungee Hairline", sans-serif;  font-weight: 400;
  font-style: normal;
  animation: fadeIn 8s;
  font-size:18px;
}

/* avatar */
.avatar{
  font-family: "Bungee Hairline", sans-serif;
  font-weight:700;
}