

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;    
}

body
{
    min-height: 1000vh;
background:linear-gradient(90deg,black,black);
}

section
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient( white 20%,violet 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(0px at center center);
}

.title
{
    position: fixed;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
    z-index: -10;
    font-size:20vw;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    background:linear-gradient(#cc00cc, #b30086,#cc0000);
    background-size:cover;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

}
.inner-title
{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #00aBff;
    z-index: 2;
    font-size:20vw;   
    /* background-image:url("../img/belt.jpeg"); */
    background:black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}



.container{
    width:100vw;
    height:fit-content;
    display:flex;
    justify-content:center; 
    align-items:center;
}
 
/* .imgBX
{
    position: relative;
    width: 100rem;
    height: 100px;
} */
.imgBx img
{
    position:absolute ;
    left:22%;
    z-index:-1;
    width:50%; 
    height:100%;
    
}


.imgBx img:not(:first-child)
{
    animation: animate1 4s linear infinite;
    animation-delay: calc(-0.8s * var(--i));
    opacity: 0.1;
   
    z-index:-5;
    position:absolute;

}

@keyframes animate1
{
   0% 
    {
        margin-top: 100px;
        margin-left: 80px;
    }
    100%
    {
        margin-top:1px;
        margin-left: 1px;

    } 
} 

@media (max-width: 680px)  {
  .imgBx img
  {
    left:0%;
    width:100%;

  }
 
}