
.imgBx img
{
    position:absolute ;
    left:22%;
    z-index:-1;
    width:50%; 
    height:100%;
    
}


.imgBx img:not(:first-child)
{
    animation: kidlat 2s linear infinite;
    animation-delay: calc(-0.8s * var(--i));
    opacity: 0.1;
    
    z-index:-5;
    position:absolute;

}

@keyframes kidlat
{
   0% 
    {
       
        rotate:5deg;
    }
    50%{
        display:none;
    }
    100%
    {
       ;
        

    } 
} 

@media (max-width: 680px)  {
  .imgBx img
  {
    left:0%;
    width:100%;

  }
 
}